In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("iris.csv")

In [4]:
data.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [6]:
data.to_json("iris.json")

In [8]:
describe = data.describe()

In [9]:
describe.to_json("describe.json")

In [12]:
data.info().to_json("info.json")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal.length    150 non-null float64
sepal.width     150 non-null float64
petal.length    150 non-null float64
petal.width     150 non-null float64
variety         150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

AttributeError: 'NoneType' object has no attribute 'to_json'

In [13]:
import json

In [ ]:
a = json.loads(jsonStringA)
a = json.loads(jsonStringA)