In [2]:
import os 
import pandas as pd

In [3]:
df = pd.read_csv("abalone.csv")

In [6]:
dataset = df
for col in dataset.columns:
    if dataset[col].dtypes == 'float64':
        print("Column {} userfull".format(col))
    else:
        print("Column {} is not userfull".format(col))
        dataset = dataset.drop( columns = [col])

Column Sex is not userfull
Column Length userfull
Column Diameter userfull
Column Height userfull
Column Whole weight userfull
Column Shucked weight userfull
Column Viscera weight userfull
Column Shell weight userfull
Column Rings is not userfull

In [9]:
dataset.dtypes

Length            float64
Diameter          float64
Height            float64
Whole weight      float64
Shucked weight    float64
Viscera weight    float64
Shell weight      float64
dtype: object

In [10]:
len([])

0

In [18]:
drop_col = ["Length"]

In [19]:
dataset = dataset.drop(columns = drop_col)

In [20]:
dataset

,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...
4172,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,0.555,0.195,1.9485,0.9455,0.3765,0.4950

-----------------------------------

In [31]:
df_datatypes = pd.DataFrame(df.dtypes)

In [32]:
df_datatypes

                      0
Sex              object
Length          float64
Diameter        float64
Height          float64
Whole weight    float64
Shucked weight  float64
Viscera weight  float64
Shell weight    float64
Rings             int64

In [33]:
df_datatypes.to_csv("aux1.csv")

In [34]:
to_datatype = pd.read_csv("aux1.csv", names = ["Columns", "Type"])

In [35]:
to_datatype = to_datatype[1:]

In [36]:
to_datatype

          Columns     Type
1             Sex   object
2          Length  float64
3        Diameter  float64
4          Height  float64
5    Whole weight  float64
6  Shucked weight  float64
7  Viscera weight  float64
8    Shell weight  float64
9           Rings    int64

In [37]:
to_datatype = to_datatype.set_index('Columns')

In [38]:
to_datatype

                   Type
Columns
Sex              object
Length          float64
Diameter        float64
Height          float64
Whole weight    float64
Shucked weight  float64
Viscera weight  float64
Shell weight    float64
Rings             int64

In [39]:
to_datatype = to_datatype.swapaxes("index", "columns")

In [40]:
to_datatype

Columns,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
Type,object,float64,float64,float64,float64,float64,float64,float64,int64

In [41]:
to_datatype = to_datatype.reset_index()

In [42]:
to_datatype

Columns,index,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,Type,object,float64,float64,float64,float64,float64,float64,float64,int64

In [43]:
to_datatype.to_csv("aux2.csv", index = False)

In [44]:
aux2 = pd.read_csv("aux2.csv")

In [45]:
aux2

,index,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,Type,object,float64,float64,float64,float64,float64,float64,float64,int64

In [46]:
aux2.rename(columns={'index':'Columns'}, inplace=True)

In [47]:
aux2

,Columns,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,Type,object,float64,float64,float64,float64,float64,float64,float64,int64

In [48]:
aux2.to_csv("datatypes.csv", index = False)